.showPoster{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #ffeedb;
    width: 500px;
}
.showPoster>img{
    border-radius: 5px;
    object-fit: cover;
}
.infoMovie{
    margin: 0px 10px;
}
.showBtn{
    border: none;
    background-color: #496ddb;
    padding: 10px 15px;
    color: #ffeedb;
    font-size: 14px;
}
.infoMovie>h1{
    font-weight: 500;
    font-size: 21px;
}
