.list{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    width: min-content;
    height: min-content;
}
.list> input{
    margin-bottom: 10px;
}
